.Card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 60%;
  padding: 10px;
}

.Card-content {
  text-align: left;
  margin: 25px 50px;
  width: 60%;
}

.Card-category{
  font-size: 14px;
  color: gray;
  margin: 0;
  padding: 0;
}

.Card-title{
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.Card-description{
  color: gray;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.Card-author{
  font-size: 14px;
  margin-bottom: 0;

}

.Card-publication-read{
  font-size: 14px;
  margin-top: 0;
  color: gray;
}

.Card-img{
  min-width: 200px;
  height: 200px;
  background-image: url('https://picsum.photos/id/237/200/300');
  background-repeat: no-repeat;
}
