.conversor-container{
  padding: 10px;;
  color: white; 
  margin: 50px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 20px;
  height: 20px;
  margin: 20px;
  width: 100px;
}